body {
	background: #f6f6f6;
	font-size: 12px;
	font-family: 宋体, 微软雅黑, sans-serif;
	font-weight: normal;
	width: 100%;
	overflow: hidden;
	position: relative;
}
html, body, ul, li, div, img {
	margin: 0px;
	padding: 0px;
}
a, img {
	border: 0;
}
a, a:visited {
	color: #5e5e5e;
	text-decoration: none;
}
a:hover {
	color: #333;
	text-decoration: none;
}
ul {
	list-style: none;
}
li {
	list-style: none;
	display: inline-block;
 	display:inline;
}
.inline {
	display: inline-block;
	zoom: 1;
 	display:inline;
}
.bodyContent {
	width: 100%;
	margin: 0em auto;
	overflow: hidden;
	position: relative;
	padding-top: 160px;
}
.maxContent {
	width: 100%;
	position: relative;
}
.minContent {
	width: 1000px;
	margin: 0em auto;
	position: relative;
}
/*.minContent h1{
	color: 30px;
	box-shadow: 5px 5px 1 black;
} */
/*#dowebok .first {
	width: 100%;
	height: 100%;
 	background-image: url("../img/big2.png");
  	background-size: 100% 100%;
}*/
/*#now{
	display: none;
}*/
.section{
	width: 100%;
	height: 100%;
 	background-image: url("../img/big2.png");
  	background-size: 100% 100%;
  	
}
.first{
	text-align: center;
}
.header {
	height: 100px;
	background: #D21F26;
	overflow: hidden;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 100;
	text-align: center;
}
.headerInfo {
	margin-top: 36px;
	position: relative;
}
.headerInfo ul {
	position: absolute;
	right: 0em;
	top:15px;
	width: 800px;
}
.headerInfo ul li {
	float: left;
	width: 16.666666666666667%;
	text-align: center;
	font-size:18px;
}
.headerInfo ul li a {
	color:#fff;
}
.headerInfo ul li a.navFocus {
	color: #D5222B;
}
.headerInfo ul li a:hover {
	color:#ccc;
}
.first{
	position: relative;
}
/*.first .jq22{
	position: absolute;
	left:50%;
	top:100;
	margin-left: -560px;
}*/
.third nav{
	width: 810px;
	margin:0 auto;
}
.third img{
	width: 400px;
}
/*第三页开门效果*/
div#splitter {
    position: relative;
    overflow: hidden;
    width: 500px; 
    /*background:orangered;*/
    font-family: Blue Highway, Arial, sans-serif;
    color: #fff; 
    margin: 0 auto;
    font-size: 0;
}
div#splitter img {
    position: absolute;
    transition: 1s all ease-in-out;
    width: 100%;
    height:500px;
}
div#splitter span {
	width: 100%;
	display: block;
    position: absolute;
    font-size: 8rem;
    top: 150px; 
    left: 100px;
}
div#splitter img:nth-of-type(1) {
    clip: rect(0px,500px,250px,0px); 
}
div#splitter img:nth-of-type(2) {
    clip: rect(250px,500px,500px,0px); 
}
div#splitter:hover img:nth-of-type(1) {
    transform: translateY(-150px); 
}
div#splitter:hover img:nth-of-type(2) {
    transform: translateY(150px); 
}